@use './responsive' as *;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');

:root {
    --font-primary: "Barlow";
    --font-secondary: serif;

    --text-base-size: 16px;
    --text-base-line-height: 1.625rem;
    --text-base-weight: 500;
    --text-span-weight: 700;
    --text-xxl: 3rem;
    --text-xl: 2rem;
    --text-lg: 1.5rem;

    --text-xxl-line-height: 3rem;
    --text-xl-line-height: 2.25rem;
    --text-lg-line-height: 1.75rem;
    --text-span-weight: 700;
    --text-heading-weight: 900;
}

.text--reg {
    font-family: var(--font-primary);
    font-size: var(--text-base-size);
    font-weight: var(--text-base-weight);
    line-height: var(--text-base-line-height);
}

body {
    @extend .text--reg; 
}

.text--header {
    font-weight: var(--text-heading-weight);
    text-transform: uppercase;
}

.text--strong {
    font-weight: var(--text-span-weight);
}

.text--lg,
.text--xl,
.text--xxl,
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend .text--header;
}

.text--lg,
h3 {
    font-size: var(--text-lg);
    line-height: var(--text-lg-line-height);
}

.text--xl,
h2 {
    font-size: var(--text-xl);
    line-height: var(--text-xl-line-height);
}

.text--xxl,
h1 {
    font-size: var(--text-xxl);
    line-height: var(--text-xxl-line-height);
}

// Button doesnt by default inherit properties from body.
.btn {
    @extend .text--reg;
    @extend .text--strong;
}
