@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap");
:root {
  --color-primary-orange-900: hsl(22, 89%, 52%);
  --color-primary-orange-700: hsl(22, 100%, 69%);
  --color-primary-blue-900: hsl(220, 49%, 17%);
  --color-primary-blue-700: hsl(221, 23%, 58%);
  --color-primary-blue-500: hsl(198, 28%, 93%);
  --color-primary-white: hsl(0, 0%, 100%);
  --btn-primary-background: var(--color-primary-orange-900);
  --btn-primary-background-hover: var(--color-primary-orange-700);
  --btn-neutral-background: var(--color-primary-blue-500);
  --btn-neutral-background-hover: var(--color-primary-blue-900);
  --color-body-background: var(--color-primary-white);
  --color-heading: var(--color-primary-blue-900);
  --color-paragraph: var(--color-primary-blue-700);
  --color-btn-primary-text: var(--color-primary-white);
  --color-btn-primary-text-hover: var(--color-primary-white);
  --color-btn-neutral-text-hover: var(--color-primary-white);
  --color-btn-neutral-text: var(--color-primary-blue-900);
  --color-icon-background: var(--color-primary-orange-900);
}

body {
  background-color: var(--color-body-background);
}

.btn--primary {
  background-color: var(--btn-primary-background);
  color: var(--color-btn-primary-text);
}
@media (hover: hover) and (pointer: fine) {
  .btn--primary:hover {
    background-color: var(--btn-primary-background-hover);
    color: var(--color-btn-primary-text-hover);
  }
}

.btn--neutral {
  background-color: var(--btn-neutral-background);
  color: var(--color-btn-neutral-text);
}
@media (hover: hover) and (pointer: fine) {
  .btn--neutral:hover {
    background-color: var(--btn-neutral-background-hover);
    color: var(--color-btn-neutral-text-hover);
  }
}

.txt__head, h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

.text--reg, body {
  color: var(--color-paragraph);
}

:root {
  --font-primary: "Barlow";
  --font-secondary: serif;
  --text-base-size: 16px;
  --text-base-line-height: 1.625rem;
  --text-base-weight: 500;
  --text-span-weight: 700;
  --text-xxl: 3rem;
  --text-xl: 2rem;
  --text-lg: 1.5rem;
  --text-xxl-line-height: 3rem;
  --text-xl-line-height: 2.25rem;
  --text-lg-line-height: 1.75rem;
  --text-span-weight: 700;
  --text-heading-weight: 900;
}

.text--reg, .btn, body {
  font-family: var(--font-primary);
  font-size: var(--text-base-size);
  font-weight: var(--text-base-weight);
  line-height: var(--text-base-line-height);
}

.text--header, .text--lg,
.text--xl,
.text--xxl,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--text-heading-weight);
  text-transform: uppercase;
}

.text--strong, .btn {
  font-weight: var(--text-span-weight);
}

.text--lg,
h3 {
  font-size: var(--text-lg);
  line-height: var(--text-lg-line-height);
}

.text--xl,
h2 {
  font-size: var(--text-xl);
  line-height: var(--text-xl-line-height);
}

.text--xxl,
h1 {
  font-size: var(--text-xxl);
  line-height: var(--text-xxl-line-height);
}

:root {
  --btn-radius: 8px;
  --btn-padding-top-btm: 0.6875rem;
  --btn-padding-left-right: 0.875rem;
  --btn-padding-top-btm-tablet: 1rem;
  --btn-padding-left-right-tablet: 1.625rem;
}

.btn {
  white-space: nowrap;
  text-decoration: none;
  padding: var(--btn-padding-top-btm) var(--btn-padding-left-right);
  display: inline-flex;
  position: relative;
  border-radius: var(--btn-radius);
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .btn {
    padding: var(--btn-padding-top-btm-tablet) var(--btn-padding-left-right-tablet);
  }
}

:root {
  --main--padding--desktop: 10.3125rem;
  --main--padding--tablet: 2.5rem;
  --main--padding--mobile: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1.4375rem max-content 4rem max-content 6rem max-content 3.125rem;
  grid-template-areas: "." "header" "." "main" "." "footer" ".";
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    grid-template-rows: 2.5rem max-content 4rem max-content 8.875rem max-content 2.6875rem;
  }
}
@media (min-width: 1024px) {
  body {
    grid-template-rows: 3.4375rem max-content 5.1875rem max-content 8rem max-content 2.4375rem;
  }
}

.typemaster__icon {
  --icon-position: center;
  --bg-repeat: no-repeat;
  width: 65px;
  height: 65px;
  border-radius: 1rem;
}
.typemaster__icon--compatible {
  background: var(--icon-position) var(--bg-repeat) url("../assets/shared/icon-compatible.svg"), var(--color-icon-background);
}
.typemaster__icon--battery {
  background: var(--icon-position) var(--bg-repeat) url("../assets/shared/icon-battery.svg"), var(--color-icon-background);
}
.typemaster__icon--bluetooth {
  background: var(--icon-position) var(--bg-repeat) url("../assets/shared/icon-bluetooth.svg"), var(--color-icon-background);
}
.typemaster__icon--backlit {
  background: var(--icon-position) var(--bg-repeat) url("../assets/shared/icon-light.svg"), var(--color-icon-background);
}
.typemaster__header {
  grid-area: header;
  display: grid;
  grid-template-columns: var(--main--padding--mobile) min-content 1fr min-content var(--main--padding--mobile);
  grid-template-areas: ". icon  . preorder-btn .";
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .typemaster__header {
    grid-template-columns: var(--main--padding--tablet) min-content 1fr min-content var(--main--padding--tablet);
  }
}
@media (min-width: 1024px) {
  .typemaster__header {
    grid-template-columns: var(--main--padding--desktop) min-content 1fr min-content var(--main--padding--desktop);
  }
}
.typemaster__header .typemaster__icon {
  grid-area: icon;
  height: 40px;
}
.typemaster__header .typemaster__preorder__btn {
  grid-area: preorder-btn;
}
.typemaster__main {
  grid-area: main;
  display: grid;
  row-gap: 1.5rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .typemaster__main {
    row-gap: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .typemaster__main {
    row-gap: 1.875rem;
  }
}
.typemaster__main .typemaster__preorder {
  display: grid;
  grid-template-columns: var(--main--padding--mobile) 1fr var(--main--padding--mobile);
  grid-template-rows: auto 4rem auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .typemaster__main .typemaster__preorder {
    grid-template-columns: var(--main--padding--tablet) 1fr 4.3125rem 1fr var(--main--padding--tablet);
    grid-template-rows: 5rem auto 5rem;
  }
}
@media (min-width: 1024px) {
  .typemaster__main .typemaster__preorder {
    grid-template-columns: var(--main--padding--desktop) 1fr 7.8125rem 1fr 1.875rem calc(var(--main--padding--desktop) - 1.875rem);
    grid-template-rows: 3.75rem 11.25rem 1fr 3.75rem;
  }
}
.typemaster__main .typemaster__preorder__details {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr min-content;
  grid-gap: 2rem 1.5rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .typemaster__main .typemaster__preorder__details {
    grid-row: 2/3;
  }
}
@media (min-width: 1024px) {
  .typemaster__main .typemaster__preorder__details {
    grid-row: 2/3;
    grid-gap: 1.5rem 1.5rem;
  }
}
.typemaster__main .typemaster__preorder__details__title {
  grid-column: 1/3;
}
.typemaster__main .typemaster__preorder__details__description {
  grid-column: 1/3;
}
@media (min-width: 1024px) {
  .typemaster__main .typemaster__preorder__details__description {
    font-size: 18px;
  }
}
.typemaster__main .typemaster__preorder__details__btn {
  justify-self: start;
  align-self: start;
}
.typemaster__main .typemaster__preorder__details__reldate {
  align-self: center;
}
.typemaster__main .typemaster__preorder .typemaster__keyboard {
  grid-column: 2/4;
  grid-row: 3/4;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .typemaster__main .typemaster__preorder .typemaster__keyboard {
    grid-row: 1/4;
    grid-column: 4/6;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .typemaster__main .typemaster__preorder .typemaster__keyboard {
    grid-row: 1/5;
    grid-column: 4/5;
    height: 100%;
    border-radius: 20px;
  }
}
.typemaster__main .typemaster__preorder .square {
  display: none;
}
@media (min-width: 1024px) {
  .typemaster__main .typemaster__preorder .square {
    grid-column: 6/7;
    grid-row: 1/3;
    display: block;
    background-color: var(--color-primary-blue-500);
    border-radius: 20px 0 0 20px;
  }
}
.typemaster__main .typemaster__keyboard {
  display: grid;
  grid-template-columns: var(--main--padding--mobile) repeat(10, 1fr) var(--main--padding--mobile);
  grid-template-rows: 193px 4.6875rem auto 1.5rem auto;
  column-gap: var(--main--padding--mobile);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .typemaster__main .typemaster__keyboard {
    grid-template-columns: var(--main--padding--tablet) repeat(23, 1fr) var(--main--padding--tablet);
    grid-template-rows: 320px auto;
    column-gap: 0rem;
    row-gap: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .typemaster__main .typemaster__keyboard {
    grid-template-columns: 7.968rem 1.875rem 15.9375rem 1.875rem 27.8125rem 7.8125rem 15.9375rem var(--main--padding--desktop);
    grid-template-rows: 236px 8px 236px;
    column-gap: 0rem;
    row-gap: 1rem;
  }
}
.typemaster__main .typemaster__keyboard .square {
  display: none;
}
@media (min-width: 1024px) {
  .typemaster__main .typemaster__keyboard .square {
    display: block;
    background-color: var(--color-primary-blue-500);
    border-radius: 0px 20px 20px 0px;
    grid-row: 3/4;
    grid-column: 1/2;
  }
}
.typemaster__main .typemaster__keyboard__mobile {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  grid-column: 1/4;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .typemaster__main .typemaster__keyboard__mobile {
    grid-column: 2/9;
    border-radius: 20px;
  }
}
@media (min-width: 1024px) {
  .typemaster__main .typemaster__keyboard__mobile {
    grid-column: 3/4;
    grid-row: 1/-1;
    border-radius: 20px;
  }
}
.typemaster__main .typemaster__keyboard__mobile > img {
  object-fit: cover;
  display: block;
  width: 129px;
  height: 193px;
  margin-left: -22px;
}
@media (min-width: 768px) {
  .typemaster__main .typemaster__keyboard__mobile > img {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
}
.typemaster__main .typemaster__keyboard__mobile:after {
  content: " ";
  position: absolute;
  background: #f26818;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 100%;
  mix-blend-mode: multiply;
}
.typemaster__main .typemaster__keyboard__glass {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  grid-column: 4/-2;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .typemaster__main .typemaster__keyboard__glass {
    grid-column: 10/-2;
  }
}
@media (min-width: 1024px) {
  .typemaster__main .typemaster__keyboard__glass {
    grid-column: 5/6;
    grid-row: 1/-1;
    border-radius: 20px;
  }
}
.typemaster__main .typemaster__keyboard h2 {
  text-align: center;
  grid-row: 3/4;
  grid-column: 2/-2;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .typemaster__main .typemaster__keyboard h2 {
    text-align: unset;
    grid-column: 2/10;
  }
}
@media (min-width: 1024px) {
  .typemaster__main .typemaster__keyboard h2 {
    text-align: unset;
    grid-column: 7/8;
    grid-row: 1/2;
    align-self: end;
  }
}
.typemaster__main .typemaster__keyboard p {
  text-align: center;
  grid-row: 5/6;
  grid-column: 2/-2;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .typemaster__main .typemaster__keyboard p {
    text-align: unset;
    grid-row: 3/4;
    grid-column: 11/-2;
  }
}
@media (min-width: 1024px) {
  .typemaster__main .typemaster__keyboard p {
    text-align: unset;
    grid-column: 7/8;
    grid-row: 3/4;
  }
}
.typemaster__footer {
  grid-area: footer;
  text-align: center;
}

.l-list {
  margin-top: 6.9375rem;
  padding: 0rem 1.5rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .l-list {
    margin-top: 6.375rem;
    padding: 0;
    display: grid;
    grid-template-columns: var(--main--padding--tablet) 1fr 1fr var(--main--padding--tablet);
  }
}
@media (min-width: 1024px) {
  .l-list {
    margin-top: 6.375rem;
    padding: 0;
    display: grid;
    grid-template-columns: var(--main--padding--desktop) 1fr 30px 1fr 30px 1fr 30px 1fr var(--main--padding--desktop);
  }
}
.l-list__item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .l-list__item {
    grid-column: 2/3;
    align-items: start;
    text-align: start;
  }
}
@media (min-width: 1024px) {
  .l-list__item {
    align-items: start;
    text-align: start;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .l-list__item:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (min-width: 1024px) {
  .l-list__item:nth-child(1) {
    grid-column: 2/3;
  }
}
@media (min-width: 1024px) {
  .l-list__item:nth-child(2) {
    grid-column: 4/5;
  }
}
@media (min-width: 1024px) {
  .l-list__item:nth-child(3) {
    grid-column: 6/7;
  }
}
@media (min-width: 1024px) {
  .l-list__item:nth-child(4) {
    grid-column: 8/9;
  }
}
.l-list__item h3 {
  margin-bottom: 1.5rem;
  padding: 0 4rem;
}
@media (min-width: 768px) {
  .l-list__item h3 {
    padding: 0 8rem 0 0;
  }
}
.l-list__item .typemaster__icon {
  margin-bottom: 3rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .l-list__item:nth-child(2n) {
    grid-column: 3/4;
  }
}

/*# sourceMappingURL=styles.css.map */
